.header-inner {
  display: flex;
  justify-content: space-between;
  background-color: #128043;
  border: 1px solid #128043;
  border-radius: 10px;
  padding: 1rem;
}

.lower-inner {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 1rem;
  margin-top: -0.66rem;
  position: relative;
  z-index: -1;
  padding: 1rem;
  box-shadow: 0 0 47px -21px black;
}
.card-lower {
  margin: 1rem 1rem;
}

.card-lower .card {
  padding: 0 !important;
  border-radius: 20px !important;
  border-color: white;
}

.card-lower .card img {
  /* padding: 0 !important; */
  border-radius: 20px !important;
  position: relative;
}

.shopping-inner {
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;

  box-shadow: 0 0 47px -21px black;
}
.shopping-inner h2 {
  color: #128043;
  padding: 1rem;
}
.header-inner .logo {
  color: white;
  font-size: 1.3rem;
  padding-left: 0.75rem;
}

a {
  text-decoration: none;
}
.header-inner .fa-user {
  color: white;
  border: 1px solid orange;
  padding: 0.67rem 0.75rem;
  border-radius: 40px;
  background-color: orange;
  font-size: 1.2rem;
}

.fa-cog {
  background-color: white !important;
  color: #128043 !important;
  border-color: #128043 !important;
}

.btn {
  border-radius: 40px;
  width: 100px;
  font-size: 0.65rem;
}

.btn-success {
  width: 100px;
  font-size: 0.65rem;
}

.right-bar {
  display: flex;
}
.right-bar a i {
  /* margin: 0 5px; */
  border: 1px solid #128043;
  border-radius: 40px;
  padding: 7px 8px;
  /* font-size: 0.85rem; */
  color: #128043;
}

.right-bar input {
  border-radius: 40px;
  width: 150px;
  margin-left: 5px;
}

.right-bar input::placeholder {
  font-size: 0.75rem;
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #128043; /* Green background with opacity */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 20px 10px 20px;
}

.card-img-container:hover .overlay {
  opacity: 1;
}

.add-to-cart-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
  font-size: 0.55rem;
}

.add-to-cart-btn:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* White background with opacity */
}

.btn-cart {
  display: flex;
  justify-content: space-between;
}
.img-fa {
  left: 0;
  color: white;
  background-color: #1896dd;
  position: absolute;
  margin-left: 12px;
  bottom: 23px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 12px;
  padding: 5px 8px;
  font-size: 1.5rem;
  border-color: white;
}

.img-fa2 {
  background-color: #d89e11;
  border-color: white;
}

.img-fa3 {
  background-color: #c345ff;
  border-color: white;
}
.fa-shopping-cart {
  padding-left: 5px;
}

.quantity {
  display: flex;
  border-radius: 40px;
  align-items: center;
  /* justify-content: center; */
}

.quantity button {
  border-radius: 40px;
  border-color: white !important;
  border: 1px solid white;
  margin-right: 3px;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}
.quantity input {
  width: 20px;
  border-radius: 40px;
  border: 1px solid white;
}

.quantity input:focus {
  border: 1px solid white;
}

.q-btn:hover {
  background-color: #128043;
}

.quantity-text {
  padding-right: 6px;
  font-size: 9px;
}

.heading {
  box-shadow: 0 0 47px -21px black;
}

.shopping-wrap {
  border-radius: 32px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.item-details {
  display: flex;
  align-items: center;
}

.item-details img {
  width: 80px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
}

.item-info {
  margin-right: 20px;
  font-size: 10px;
  margin-top: 0.7rem;
}

.item-name {
  /* font-size: 9px; */
  margin-top: 1rem;
}

.item-details span {
  font-size: 10px;
}
.item-price-quantity {
  margin: 0;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.right-div {
  display: flex;
}

.delete-btn {
  background-color: white;
  border-color: red;
  color: red;
  border-radius: 40px;
  border: 1px solid red;
}

button {
  cursor: pointer;
}
.shopping-wrap .heading {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0px;
}

.shopping-wrap {
  border-radius: 20px 20px 0 0px;
}
.cart-item {
  padding-bottom: 12px;
  border-bottom: 1px solid #5c5c5c22;
}
.first {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}
.first-p {
  text-align: left;
  padding: 0.3rem 1rem;
  font-size: 14px;
}
.mob {
  border-bottom: 1px solid #5c5c5c22;
}
.details {
  border: 1px solid #f0f2fa;
  margin: 12px;
  border-radius: 14px;
  background-color: #f0f2fa;
}

.details span {
  font-weight: normal;
}
.del {
  font-weight: bold !important;
}
.success {
  border-radius: 20px;
  padding: 1rem !important;
  width: 11rem;
  border-color: #177a20;
  background-color: #177a20;
  /* box-shadow: 0px 0px 10px #128043; */
  border: none;
  display: block;
  align-items: start;
  margin: 12px;
}
.details .imgs {
  margin-top: -2rem;
}
.details .img-2nd {
  padding-left: 9px;
}
.details img {
  padding-left: 4px;
}

.last-success {
  margin-top: -2rem !important;
  margin: auto;
}

.main {
  margin-bottom: 3rem;
}

.cart .imgs {
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 4rem;
}

.cart img {
  width: 4rem;
  border: 1px solid transparent;
  border-radius: 40px;
}

.image-container {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.remove-icon {
  position: absolute;
  top: -4px;
  right: 5px;
  font-size: 12px;
  color: red; /* Adjust color as needed */
  cursor: pointer;
  background-color: white;
  border-radius: 40px;
  padding: 5px; /* Adjust padding as needed */
}

.cart {
  background-color: #128043;
  border-radius: 20px 20px 0 0px;
  height: 5rem;
}

.total {
  text-align: center;
  color: white;
  height: 5rem;
}

.total p {
  box-shadow: 0 0 47px -21px black;
  padding: 1rem;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.671
  ); /* Background color with transparency */
  border: 15px;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;

  border: 1px solid #888;
  width: 50%;
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.model-row {
  padding: 20px;
}
.box {
  background-color: #299318;
  padding: 1rem;
}
.box a {
  text-decoration: none;
  display: flex;
  text-align: center;
  color: #fff;
  justify-content: center;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: black;
  /* padding: 0.45rem; */
  /* border: 1px solid black; */
  /* border-radius: 40px; */
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Max width for modal content */
  position: relative; /* Position relative for close button */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  width: 32px;
  /* background-color: #4b4b4b;
  align-items: center;
  padding: auto; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Disable scrollbar for modal content */
.modal-content {
  overflow: hidden;
}

.fa-long-arrow-right {
  padding: 0.3rem;
}

.box-otp {
  text-align: center;
}

.box-otp p {
  color: white;
}

.box-otp input {
  border-radius: 61px;
  padding: 0.5rem;
  border-color: #fff;
  box-shadow: 0 0 0 0 white;
  border: 2px solid white;
  background-color: transparent;
}

.box-otp input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0 white;
  background-color: transparent;
  outline: none;
}
::placeholder {
  color: white;
  font-size: 0.8rem;
}

.box-otp button {
  border-radius: 61px;
  padding: 0.7rem;
  border-color: #fff;
  box-shadow: 0 0 0 0 white;
  background-color: white;
  color: #177a20;
  outline: none;
}

.language-select {
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9;
}

.custom-modal {
  display: none;
  position: fixed; /* Set position to fixed */
  z-index: 9999; /* Set a high z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none !important;
}

.fa-youtube-play {
  color: #ce1312;
}
.custom-modal-content {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 25px;
  border-radius: 15px;
  width: 80%;
  position: relative; /* Adjust position to relative */
  z-index: 99999; /* Ensure the content is on top of the modal background */
}
.card-img-container {
  cursor: pointer;
}

.custom-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute; /* Adjust position to absolute */
  top: 0px; /* Set top position */
  right: 10px; /* Set right position */
  z-index: 999999; /* Ensure the close button is on top of the modal content */
  cursor: pointer;
}

.my-modal {
  /* display: none; */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-modal-content {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  position: relative;
  z-index: 99999;
}

.my-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
  cursor: pointer;
}

.my-card-img-top {
  cursor: pointer;
}

.model-img {
  height: 70vh;
}

.color-grey {
  border: 1px solid #9c959e;
  border-radius: 50%;
  padding: 12px;
  background-color: #9c959e;
  margin-right: 2px;
}

.color-pink {
  border: 1px solid #d299ff;
  border-radius: 50%;
  padding: 12px;
  background-color: #d299ff;
  margin-right: 2px;
}

.color-blue {
  border: 1px solid #8ebbff;
  border-radius: 50%;
  padding: 12px;
  background-color: #8ebbff;
  margin-right: 2px;
}

.color-darkgrey {
  border: 1px solid #6c6c6c;
  border-radius: 50%;
  padding: 12px;
  background-color: #6c6c6c;
  margin-right: 2px;
}
.mid-colors-bar {
  display: flex;
  justify-content: space-between;
}
.all-clrs {
  display: flex;
  padding: 10px;
  /* padding: 2px 7px; */
}

.btn-x {
  background-color: #eaeaea;
  margin-right: 4px;
  padding: 0.4rem;
}

.mid-colors-bar span {
  color: black;
  font-weight: bold;
}
.lower-imgs {
  display: flex;
  margin-top: 10px;
}

.lower-imgs img {
  width: 6.5rem;
  padding: 4px;
}
.des {
  color: black;
  font-weight: bold;
}

.des-p {
  padding-top: 17px;
  font-size: 13px;
}

.last-row {
  display: flex;
}
.btnm {
  border-radius: 50%; /* Making it a perfect circle */
  padding: 10px; /* Adjust padding as needed */
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 5px;
  margin-left: 5px;

  outline: #eaeaea;
  border-color: #eaeaea;
  box-shadow: 0 0 47px -21px black;
  border: 1px solid #eaeaea;
}

.fa-star {
  color: #136207;
}

.dull {
  color: #eaeaea;
}
