*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper{
    background-color: #f0f2fa;
}
.left-sidebar {
    background-color: #f0f2fa;
    padding: 20px;
}

.right-content {
    padding: 20px;
}

.right-content > div {
    background-color: #ffffff; /* White background color */
    border-radius: 15px; /* Adjust border radius as needed */
    padding: 20px;
    box-shadow: 5px 5px 15px #bfc2cb, -5px -5px 15px #ffffff; /* Neomorphic effect */

}

.sidebar {
    background-color: transparent; /* Sidebar background color */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color:#1c274c !important;
}

/* Define custom colors */
:root {
    --color-primary: #138953;   /* Green */
    --color-secondary: #28921a; /* Greenish */
    --color-tertiary: #0d8763;  /* Teal */
}



.sidebar ul li a {
    text-decoration: none;
    color: white; /* Text color for links */
    display: block; /* Ensure the link takes up the full width of its parent */
    padding: 10px; /* Add padding for better clickability */
    transition: background-color 0.3s; /* Add transition for smooth color change */
    border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    border-radius: 5px;
    color: white !important; /* Text color for links */


    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary)); /* Gradient background for active/hovered links */
}

.fa-arrow-left{
    background-color: #28921a;
    padding: 8px;
    border-radius: 25px;
}
.tech-text{
    font-weight: bold;
}
.fa-user{
    padding-right: 9px;
}
.fa-gear{
    padding-right: 9px;
}
.fa-shopping-bag{
    padding-right: 9px;
}

.img-right img{
    height: 200px;
    width: 200px;
}

.btn-round{
    border-radius: 18px;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
}


.saved-address {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 450px;
    position: relative; /* Needed for pseudo-element positioning */
    background-color: #f4f4f4;
}

.custom-hr {
    width: 60%;
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 6px;
    margin-bottom: 16px;

}


